<div class="auditionsForm">
    <img src="/images/logo4_blancosinfondo.png" alt="Logo de Double K'" width="200" height="200">
    <h1 class="auditionsForm--title">AUDICIONES</h1>
    <h1 class="auditionsForm--title">DOUBLE K'</h1>
    <h1>SUB MASCULINA</h1>
    <h1 class="auditionsForm--finishText">Te hemos registrado en nuestra base de datos.</h1>
    <h1 class="auditionsForm--finishText">Muchas gracias por participar!</h1>
    <h1>IMPORTANTE</h1>
    <h1 class="auditionsForm--finishText">En el caso de que seas menor de edad</h1>
    <h1 class="auditionsForm--finishText">te solicitamos que traigas la autorizacion que dejamos</h1>
    <h1 class="auditionsForm--finishText">a continuacion firmada por tus padres o tutores.</h1>
    <a class="auditionsForm--download" href="/downloads/autorizacion_audicion.pdf" download>DESCARGAR AUTORIZACION</a>
</div>