<div class="auditionsForm">
    <img src="/images/logo4_blancosinfondo.png" alt="Logo de Double K'" width="200" height="200">
    <h1 class="auditionsForm--title">AUDICIONES</h1>
    <h1 class="auditionsForm--title">DOUBLE K'</h1>
    <h1>SUB MASCULINA</h1>
    <h1 class="auditionsForm--title">AUDICIONES CERRADAS</h1>
    <h1 class="auditionsForm--title">Muchas gracias por participar!</h1>
    <h1 class="auditionsForm--finishTitleWarning">IMPORTANTE</h1>
    <h1 class="auditionsForm--finishTextWarning">En el caso de que seas menor de edad te solicitamos <br> que traigas la autorizacion que dejamos <br> a continuacion firmada por tus padres o tutores.</h1>
    <a class="auditionsForm--download" href="/downloads/autorizacion_audicion.pdf" download>DESCARGAR AUTORIZACION</a>
</div>

<script src="/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>