<div class="auditionsForm">
    <img src="/images/logo4_blancosinfondo.png" alt="Logo de Double K'" width="200" height="200">
    <h1 class="auditionsForm--title">AUDICIÓN</h1>
    <h1 class="auditionsForm--title">2024</h1>
    <h1 class="auditionsForm--title">DOUBLE K'</h1>
    <div class="auditionForm-div">
        <h3 class="auditionsForm--subTitle">REQUISITOS:</h3>
        <h3 class="auditionsForm--subTitle">- SER MAYOR DE 18 AÑOS (EXCLUYENTE)</h3>
        <h3 class="auditionsForm--subTitle">- DISPONIBILIDAD HORARIA FLEXIBLE (PREFERENTEMENTE LOS FINES DE SEMANA)</h3>
        <h3 class="auditionsForm--subTitle">- PUNTUALIDAD</h3>
        <h3 class="auditionsForm--subTitle">- COMPROMISO</h3>
    </div>
    <form class="auditionsForm--form" id="auditionForm">
        <label class="auditionsForm--form__labelNombre">NOMBRE/S</label>
        <input class="auditionsForm--form__input" type="text" name="first_name" required>

        <label class="auditionsForm--form__label">APELLIDO</label>
        <input class="auditionsForm--form__input" type="text" name="last_name" required>

        <label class="auditionsForm--form__label">PRONOMBRE/S DE PREFERENCIA</label>
        <span class="auditionsForm--form__span">Por favor, selecciona tus pronombres de preferencia si así lo deseas. Esta información es opcional y puedes dejarla en blanco si prefieres no especificar tus pronombres.</span>
        <input class="auditionsForm--form__input" type="text" name="pronouns">

        <label class="auditionsForm--form__label">FECHA DE NACIMIENTO</label>
        <input class="auditionsForm--form__inputDate" type="date" max="2006-04-30" min="1980-01-01" name="birthdate" id="birthInput" required>

        <label class="auditionsForm--form__label">EMAIL</label>
        <input class="auditionsForm--form__input" type="email" name="email" required>

        <label class="auditionsForm--form__label">INSTAGRAM</label>
        <input class="auditionsForm--form__input" type="text" name="instagram">

        <label class="auditionsForm--form__label">HISTORIAL DE SALUD</label>
        <span class="auditionsForm--form__span">Por favor, proporciona detalles sobre tu salud si lo deseas. Este campo no es obligatorio y se puede dejar en blanco si prefieres no compartir esta información.</span>
        <input class="auditionsForm--form__inputHealth" type="text" name="health_history">

        <span class="auditionsForm--form__spanSubmit">Por favor, revisar los datos antes de enviarlos.</span>
        <input class="auditionsForm--form__submit" type="submit" value="ENVIAR">
    </form>
</div>

<script src="/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
