<div class="auditionsForm">
    <img src="/images/logo4_blancosinfondo.png" alt="Logo de Double K'" width="200" height="200">
    <h1 class="auditionsForm--title">AUDICIONES</h1>
    <h1 class="auditionsForm--title">DOUBLE K'</h1>
    <h1>SUB MASCULINA</h1>
    <div class="auditionsForm--div">
        <form class="auditionsForm--form" id="auditionForm">
            <label class="auditionsForm--form__labelNombre">NOMBRE/S</label>
            <input class="auditionsForm--form__input" type="text" name="first_name" required>

            <label class="auditionsForm--form__label">APELLIDO</label>
            <input class="auditionsForm--form__input" type="text" name="last_name" required>

            <label class="auditionsForm--form__label">FECHA DE NACIMIENTO</label>
            <span class="auditionsForm--form__labelEdadAclaracion">MAYOR DE 17 AÑOS</span>
            <input class="auditionsForm--form__inputDate" type="date" max="2006-07-21" min="1990-01-01" name="birthdate" id="birthInput" required>

            <label class="auditionsForm--form__label">EMAIL</label>
            <input class="auditionsForm--form__input" type="email" name="email" required>

            <label class="auditionsForm--form__label">LINK DE VIDEO VIA YOUTUBE</label>
            <span class="auditionsForm--form__labelEdadAclaracion">PARA ENVIAR MAS LINKS POR FAVOR <br> SEPARAR CON COMA (,) ENTRE CADA UNO</span>
            <input class="auditionsForm--form__input" type="text" name="video_link" required>

            <span class="auditionsForm--form__spanSubmit">POR FAVOR REVISAR LOS DATOS ANTES DE ENVIARLOS</span>
            <input class="auditionsForm--form__submit" type="submit" value="ENVIAR">
        </form>
    </div>
</div>

<script src="/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>