body{
    background-image: url(../images/fondo.png);
    background-position: center top;
    color: rgb(255, 175, 90);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:720px) {
    body{
        background-image: url(../images/fondo.png);
        background-position: center top;
        color: rgb(255, 175, 90);
    }
}

@keyframes animacionSubmit {
    from {
        background-color: whitesmoke;
    }
    to {
        background-color: rgb(255, 177, 83);
    }
}

.auditionsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auditionsForm--div{
    border: 0.2rem solid rgb(255, 115, 0);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0rem 0rem 4rem 0rem black;
}

.auditionsForm--title{
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    font-size: 2.5rem;
}

.auditionsForm--form{
    display: flex;
    flex-direction: column;
    font-size: large;
    border: 0.5rem;
    max-width: 27rem;
}

.auditionsForm--form__label{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.auditionsForm--form__labelEdadAclaracion{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 0.1rem;
    margin-bottom: 0.3rem;
    color: rgb(255, 255, 255);
}

.auditionsForm--form__input{
    padding: 0.2rem;
    border-radius: 0.8rem;
    border-color: rgb(255, 177, 83);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);
}

.auditionsForm--form__inputHealth{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 0.8rem;
    margin-bottom: 2.5rem;
    border-color: rgb(255, 177, 83);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);
}

.auditionsForm--form__inputDate{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0.2rem;
    border-radius: 0.8rem;
    border-color: rgb(255, 177, 83);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);
    cursor: text;
}

.auditionsForm--form__labelNombre{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.auditionsForm--form__submit{
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 0.5rem;
    border-radius: 0.8rem;
    border-color: rgb(255, 140, 0);
    box-shadow:0.3rem 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5);
    margin-bottom: 1.5rem;
}

.auditionsForm--form__submit:hover{
    animation-name: animacionSubmit;
        animation-duration: 600ms;
        animation-direction: normal;
        animation-timing-function: linear; 
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-fill-mode: forwards;
}

.auditionsForm--form__spanSubmit{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 0.1rem;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.auditionsForm--form__span{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 0.1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem;
}

.auditionsForm--form__spanSong{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 0.1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    margin-top: 0rem;
}

.auditionsForm--form__a{
    color: rgb(255, 175, 90);
}

.auditionsForm--download{
    display: block;
    width: auto;
    background-color:white;
    color: black;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    box-shadow:0rem 0rem 4rem 0rem black;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.auditionsForm--download:hover{
    animation-name: animacionSubmit;
        animation-duration: 600ms;
        animation-direction: normal;
        animation-timing-function: linear; 
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-fill-mode: forwards;
}

.auditionsForm--finishText{
    text-align: center;
}

.auditionsForm--finishTitleWarning{
    color: white;
}
.auditionForm-div{
    max-width: 27rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.auditionsForm--finishTextWarning{
    font-size: medium;
    color: white;
    margin-bottom: 2rem;
}